<nav>
    <ul>
        <li>
            <a class="flex justify-center py-3"
               routerLink="/onboard-organization">
                <slui-icon class="h-6 w-6 text-gray-100"
                           iconName="tabler-icon-home-2"></slui-icon>
            </a>
        </li>
        <li>
            <a class="flex justify-center py-3"
               routerLink="/onboard-organization">
                <slui-icon class="h-6 w-6 text-gray-100"
                           iconName="tabler-icon-dashboard"></slui-icon>
            </a>
        </li>
        <li>
            <a class="flex justify-center py-3"
               routerLink="/onboard-organization">
                <slui-icon class="h-6 w-6 text-gray-100"
                           iconName="tabler-icon-plus"></slui-icon>
            </a>
        </li>
        <li class="my-3 mx-2 border-b border-gray-100"></li>
        <li>
            <a class="flex justify-center py-3"
               routerLink="/notifications">
                <slui-icon class="h-6 w-6 text-gray-100"
                           iconName="tabler-icon-bell"></slui-icon>
            </a>
        </li>
        <li>
            <a class="flex justify-center py-3"
               routerLink="/notifications">
                <slui-icon class="h-6 w-6 text-gray-100"
                           iconName="tabler-icon-info-circle"></slui-icon>
            </a>
        </li>
    </ul>
</nav>
<nav>
    <ul>
        <li>
            <a class="flex justify-center py-3 text-gray-100"
               routerLink="/profile">
                RK
            </a>
        </li>
        <li>
            <a class="flex justify-center py-3"
               routerLink="/signout">
                <slui-icon class="h-6 w-6 text-gray-100"
                           iconName="tabler-icon-logout"></slui-icon>
            </a>
        </li>
    </ul>
</nav>