<header class="flex items-center h-16 border-b border-gray-300 gap-3 px-4">
    <a type="button"
       slui-action-button
       silent
       routerLink="/payroll">
        <slui-icon [iconName]="'tabler-icon-chevron-left'"></slui-icon>
    </a>
    <h1 class="flex font-display font-bold text-200 text-gray-900">Add payroll</h1>
</header>

<main class="flex-1 overflow-x-auto flex flex-row items-start gap-5 p-4">
    <section class="flex-1">
        <sonaleela-add-payroll-form #addForm
                                    [selectedComponent]="selectedPayrollComponent$ | async"
                                    (unSelectComponentId)="unSelectComponentId($event)"
                                    (submitForm)="submitForm($event)">
        </sonaleela-add-payroll-form>
    </section>
    <section class="flex-1">
        <sonaleela-payroll-components-sidelist-controller
                                                          *ngIf="!(isForm$ | async)"></sonaleela-payroll-components-sidelist-controller>
        <sonaleela-add-payroll-component-controller
                                                    *ngIf="(isForm$ | async)"></sonaleela-add-payroll-component-controller>
    </section>
</main>

<footer class="flex items-center justify-end h-14 border-t border-gray-300 px-8 broder">
    <button type="submit"
            *isLoading="isAddPayrollPending$ | async"
            slui-button
            appearance="cta"
            (click)="addForm.submit()">Add payroll</button>
</footer>