@if (isOTPForm$ | async) {
<tiwoin-otp-form [timer]="countdown$ | async"
                 [phoneNumber]="phoneNumber$ | async"
                 [isPending]="isOTPPending$ | async"
                 [error]="OTPError$ | async"
                 (editPhoneNumber)="editPhoneNumber($event)"
                 (submitForm)="submitOTPform($event)"></tiwoin-otp-form>
} @else {
<tiwoin-signup-form [isPending]="isSignupPending$ | async"
                    [error]="(signupError$ | async) || (OTPError$ | async)"
                    (submitForm)="submitSignupForm($event)"></tiwoin-signup-form>
}