@if (!(isOTPForm$ | async)) {
<tiwoin-signin-form [error]="signinError$ | async"
                    [isPending]="isSigninPending$ | async"
                    (submitForm)="submit($event)"></tiwoin-signin-form>
} @else {
<tiwoin-otp-form [timer]="countdown$ | async"
                 [error]="otpError$ | async"
                 [isPending]="isOTPPending$ | async"
                 [phoneNumber]="phoneNumber$ | async"
                 (submitForm)="submitOTP($event)"
                 (editPhoneNumber)="editPhoneNumber($event)"></tiwoin-otp-form>
}