<!-- Location off banner -->
@if (isLocationOff$ | async) {
<div
     class="absolute top-0 left-0 right-0 bottom-0 bg-[rgb(245_245_245_/_75%)] backdrop-blur-sm z-50 flex flex-col items-center justify-center animate-slide-down">
    <slui-icon class="h-12 w-12 text-orange-600 mb-6 animate-pulse"
               [iconName]="'map-pin-off'"></slui-icon>
    <p class="font-body font-bold text-200 text-gray-800 mb-2 text-center">Unable to get your location!</p>
    <p class="font-body text-75 text-gray-700 mb-4 max-w-[70vw] text-center">
        Please allow location permissions from app sttings. We will need your location to give you better experience.
    </p>
    <button type="button"
            slui-button
            appearance="cta"
            (click)="allowDeviceLoaction()">Allow access</button>
</div>
}
<!-- No internet banner -->
@if (isOffline$ | async) {
<div
     class="absolute top-0 left-0 right-0 bottom-0 bg-[rgb(245_245_245_/_75%)] backdrop-blur-sm z-50 flex flex-col items-center justify-center animate-slide-down">
    <div class="h-12 w-12 text-red-600 mb-6 animate-pulse">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="1.5"
             stroke-linecap="round"
             stroke-linejoin="round"
             class="icon icon-tabler icons-tabler-outline icon-tabler-wifi-off">
            <path stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none" />
            <path d="M12 18l.01 0" />
            <path d="M9.172 15.172a4 4 0 0 1 5.656 0" />
            <path d="M6.343 12.343a7.963 7.963 0 0 1 3.864 -2.14m4.163 .155a7.965 7.965 0 0 1 3.287 2" />
            <path d="M3.515 9.515a12 12 0 0 1 3.544 -2.455m3.101 -.92a12 12 0 0 1 10.325 3.374" />
            <path d="M3 3l18 18" />
        </svg>
    </div>
    <p class="font-body text-200 text-gray-800 mb-2">Slow or no internet connection!</p>
    <p class="font-body text-75 text-gray-700">Please check your internet settings.</p>
</div>
}

<!-- Main app -->
<tiwoin-layout-matcher [layout]="layout$ | async"></tiwoin-layout-matcher>