<h4>Colors</h4>
<div class="color-list">
    <div class="color-item">
        <div class="color gray-50"></div><span class="color-name">--sonaleela-color-gray-50</span>
    </div>
    <div class="color-item">
        <div class="color gray-75"></div><span class="color-name">--sonaleela-color-gray-75</span>
    </div>
    <div class="color-item">
        <div class="color gray-100"></div><span class="color-name">--sonaleela-color-gray-100</span>
    </div>
    <div class="color-item">
        <div class="color gray-200"></div><span class="color-name">--sonaleela-color-gray-200</span>
    </div>
    <div class="color-item">
        <div class="color gray-300"></div><span class="color-name">--sonaleela-color-gray-300</span>
    </div>
    <div class="color-item">
        <div class="color gray-400"></div><span class="color-name">--sonaleela-color-gray-400</span>
    </div>
    <div class="color-item">
        <div class="color gray-500"></div><span class="color-name">--sonaleela-color-gray-500</span>
    </div>
    <div class="color-item">
        <div class="color gray-600"></div><span class="color-name">--sonaleela-color-gray-600</span>
    </div>
    <div class="color-item">
        <div class="color gray-700"></div><span class="color-name">--sonaleela-color-gray-700</span>
    </div>
    <div class="color-item">
        <div class="color gray-800"></div><span class="color-name">--sonaleela-color-gray-800</span>
    </div>
    <div class="color-item">
        <div class="color gray-900"></div><span class="color-name">--sonaleela-color-gray-900</span>
    </div>
</div>

<div class="color-list">
    <div class="color-item">
        <div class="color gray-transparent-75"></div><span class="color-name">--sonaleela-color-gray-transparent-75</span>
    </div>
    <div class="color-item">
        <div class="color gray-transparent-100"></div><span class="color-name">--sonaleela-color-gray-transparent-100</span>
    </div>
    <div class="color-item">
        <div class="color gray-transparent-200"></div><span class="color-name">--sonaleela-color-gray-transparent-200</span>
    </div>
</div>

<div class="color-list">
    <div class="color-item">
        <div class="color brand-400"></div><span class="color-name">--sonaleela-color-brand-400</span>
    </div>
    <div class="color-item">
        <div class="color brand-500"></div><span class="color-name">--sonaleela-color-brand-500</span>
    </div>
    <div class="color-item">
        <div class="color brand-600"></div><span class="color-name">--sonaleela-color-brand-600</span>
    </div>
</div>

<div class="color-list">
    <div class="color-item">
        <div class="color blue-400"></div><span class="color-name">--sonaleela-color-blue-400</span>
    </div>
    <div class="color-item">
        <div class="color blue-500"></div><span class="color-name">--sonaleela-color-blue-500</span>
    </div>
    <div class="color-item">
        <div class="color blue-600"></div><span class="color-name">--sonaleela-color-blue-600</span>
    </div>
</div>

<div class="color-list">
    <div class="color-item">
        <div class="color red-400"></div><span class="color-name">--sonaleela-color-red-400</span>
    </div>
    <div class="color-item">
        <div class="color red-500"></div><span class="color-name">--sonaleela-color-red-500</span>
    </div>
    <div class="color-item">
        <div class="color red-600"></div><span class="color-name">--sonaleela-color-red-600</span>
    </div>
</div>

<div class="color-list">
    <div class="color-item">
        <div class="color orange-400"></div><span class="color-name">--sonaleela-color-orange-400</span>
    </div>
    <div class="color-item">
        <div class="color orange-500"></div><span class="color-name">--sonaleela-color-orange-500</span>
    </div>
    <div class="color-item">
        <div class="color orange-600"></div><span class="color-name">--sonaleela-color-orange-600</span>
    </div>
</div>

<div class="color-list">
    <div class="color-item">
        <div class="color green-400"></div><span class="color-name">--sonaleela-color-green-400</span>
    </div>
    <div class="color-item">
        <div class="color green-500"></div><span class="color-name">--sonaleela-color-green-500</span>
    </div>
    <div class="color-item">
        <div class="color green-600"></div><span class="color-name">--sonaleela-color-green-600</span>
    </div>
</div>

<h4>Typography</h4>

<div class="typography-list">
    <div class="typography-item level-regular-50">Hello, How are you!</div>
    <div class="typography-item level-regular-75">Hello, How are you!</div>
    <div class="typography-item level-regular-100">Hello, How are you!</div>
    <div class="typography-item level-regular-200">Hello, How are you!</div>
    <div class="typography-item level-regular-300">Hello, How are you!</div>
    <div class="typography-item level-regular-400">Hello, How are you!</div>
    <div class="typography-item level-regular-500">Hello, How are you!</div>
    <div class="typography-item level-bold-50">Hello, How are you!</div>
    <div class="typography-item level-bold-75">Hello, How are you!</div>
    <div class="typography-item level-bold-100">Hello, How are you!</div>
    <div class="typography-item level-bold-200">Hello, How are you!</div>
    <div class="typography-item level-bold-300">Hello, How are you!</div>
    <div class="typography-item level-bold-400">Hello, How are you!</div>
    <div class="typography-item level-bold-500">Hello, How are you!</div>
</div>

<div class="elevation-list">
    <div class="elevation-item elevation-1"></div>
    <div class="elevation-item elevation-2"></div>
    <div class="elevation-item elevation-3"></div>
    <div class="elevation-item elevation-4"></div>
    <div class="elevation-item elevation-5"></div>
    <div class="elevation-item elevation-6"></div>
</div>
<div style="padding: 32px;">

    <button class="action-button action-button--size-m action-button--brand">
        <span class="action-button__icon">
            <slui-icon iconName="tabler-icon-trash"></slui-icon>
        </span>
        <span class="action-button__label">Delete</span>
    </button><br>
    <button class="action-button action-button--size-m action-button--regular">
        <span class="action-button__icon">
            <slui-icon iconName="tabler-icon-trash"></slui-icon>
        </span>
        <span class="action-button__label">Delete</span>
    </button><br>
    <button class="action-button action-button--size-m action-button--silent">
        <span class="action-button__icon">
            <slui-icon iconName="tabler-icon-trash"></slui-icon>
        </span>
        <span class="action-button__label">Delete</span>
    </button><br>
    <button class="action-button action-button--size-m action-button--primary">
        <span class="action-button__icon">
            <slui-icon iconName="tabler-icon-trash"></slui-icon>
        </span>
        <span class="action-button__label">Delete</span>
    </button><br>
    <button class="action-button action-button--size-m action-button--primary">
        <span class="action-button__icon">
            <slui-icon iconName="tabler-icon-trash"></slui-icon>
        </span>
    </button>
</div>

<div style="padding: 32px;">
    <div class="form-group">
        <div class="form-group__label">
            <label for="username">Enter username</label>
        </div>
        <div class="form-group__controls">
            <div class="form-group__control form-control">
                <input id="username"
                       type="text"
                       class="form-control__text-field"
                       placeholder="eg. rajesh@example.com">
            </div>
        </div>
        <div class="form-group__hint">Only alpha-numeric charater are allowed</div>
    </div>

    <div class="form-group">
        <div class="form-group__controls">
            <div class="form-group__control form-control">
                <input id="username"
                       type="text"
                       class="form-control__text-field"
                       placeholder="eg. rajesh@example.com">
            </div>
            <div class="form-control__suffix">
                <button class="action-button action-button--size-m action-button--brand">
                    <span class="action-button__label">Delete</span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group__label">
            <label for="username">Enter username</label>
        </div>
        <div class="form-group__controls">
            <div class="form-group__control form-control">
                <div class="form-control__prefix">
                    <slui-icon iconName="tabler-icon-trash"></slui-icon>
                </div>
                <input id="username"
                       type="text"
                       class="form-control__text-field"
                       placeholder="eg. rajesh@example.com">
                <div class="form-control__suffix">
                    <slui-icon iconName="tabler-icon-trash"></slui-icon>
                </div>
            </div>
        </div>
        <div class="form-group__hint">Only alpha-numeric charater are allowed</div>
    </div>

    <div class="form-group">
        <div class="form-group__label">
            <label for="username">Website name</label>
        </div>
        <div class="form-group__controls">
            <div class="form-group__control form-control">
                <div class="form-control__prefix">
                    www.
                </div>
                <input id="username"
                       type="text"
                       class="form-control__text-field"
                       placeholder="eg. sonaleela">
                <div class="form-control__suffix">
                    .com
                </div>
            </div>
            <div class="form-group__control form-control">
                <input id="username"
                       type="text"
                       class="form-control__text-field"
                       placeholder="eg. sonaleela">
            </div>
        </div>
        <div class="form-group__error">Username is required</div>
    </div>

    <div class="form-group">
        <div class="form-group__label">
            <label for="username">Website name</label>
        </div>
        <div class="form-group__controls">
            <div class="form-group__control form-control">
                <textarea id="username"
                          class="form-control__textarea"
                          placeholder="eg. sonaleela"></textarea>
            </div>
        </div>
        <div class="form-group__error">Username is required</div>
        <!-- <div class="form-group__hint">Only alpha-numeric charater are allowed</div> -->
    </div>
</div>

<div class="card"
     style="width: 480px;">
    <div class="card__header card-header">
        <div class="card-header__avatar">
            <img src="/assets/img/profile.png"
                 alt="profile pic">
        </div>
        <div class="card-header__title-group">
            <h2>Rajesh Kumar</h2>
            <h3>Sr. Software Eng.</h3>
        </div>
        <div class="card-header__metadata">
            <slui-icon size="m"
                       iconName="tabler-icon-dots-vertical"></slui-icon>
        </div>
    </div>
    <div class="card__body"
         style="padding-left: 64px;">
        <div class="row">
            <div class="column">
                <slui-icon size="m"
                           iconName="tabler-icon-calendar-time"></slui-icon>
                <p>E-25, Rajnagar, Bikaner, Rajasthan - India</p>
            </div>
        </div>
    </div>
    <!-- <div class="card__footer card-footer">
        <div class="card-footer__start"></div>
        <div class="card-footer__end"><button class="action-button action-button--size-m action-button--brand">
                <span class="action-button__icon">
                    <slui-icon 
                                        size="s"
                                        iconName="tabler-icon-trash"></slui-icon>
                </span>
                <span class="action-button__label">Delete</span>
            </button></div>
    </div> -->
</div>