:host {
    display: block;
    padding: 16px 32px;
    min-height: 100%;
    background-color: var(--sonaleela-color-gray-75);
}
.color-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;

    .color-item {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    & .color {
        height: 40px;
        width: 220px;
        border-radius: 4px;
        border: 1px solid var(--sonaleela-color-gray-300);
        margin-right: 16px;
    }

    .color-name {
        font-size: 12px;
        font-family: Roboto;
        font-weight: normal;
        line-height: 18px;
    }
}

.gray-50 {
    background-color: var(--sonaleela-color-gray-50);
}
.gray-75 {
    background-color: var(--sonaleela-color-gray-75);
}
.gray-100 {
    background-color: var(--sonaleela-color-gray-100);
}
.gray-200 {
    background-color: var(--sonaleela-color-gray-200);
}
.gray-300 {
    background-color: var(--sonaleela-color-gray-300);
}
.gray-400 {
    background-color: var(--sonaleela-color-gray-400);
}
.gray-500 {
    background-color: var(--sonaleela-color-gray-500);
}
.gray-600 {
    background-color: var(--sonaleela-color-gray-600);
}
.gray-700 {
    background-color: var(--sonaleela-color-gray-700);
}
.gray-800 {
    background-color: var(--sonaleela-color-gray-800);
}
.gray-900 {
    background-color: var(--sonaleela-color-gray-900);
}
.blue-400 {
    background-color: var(--sonaleela-color-blue-400);
}
.blue-500 {
    background-color: var(--sonaleela-color-blue-500);
}
.blue-600 {
    background-color: var(--sonaleela-color-blue-600);
}
.red-400 {
    background-color: var(--sonaleela-color-red-400);
}
.red-500 {
    background-color: var(--sonaleela-color-red-500);
}
.red-600 {
    background-color: var(--sonaleela-color-red-600);
}
.orange-400 {
    background-color: var(--sonaleela-color-orange-400);
}
.orange-500 {
    background-color: var(--sonaleela-color-orange-500);
}
.orange-600 {
    background-color: var(--sonaleela-color-orange-600);
}
.green-400 {
    background-color: var(--sonaleela-color-green-400);
}
.green-500 {
    background-color: var(--sonaleela-color-green-500);
}
.green-600 {
    background-color: var(--sonaleela-color-green-600);
}

.gray-transparent-75 {
    background-color: var(--sonaleela-color-gray-transparent-75);
}
.gray-transparent-100 {
    background-color: var(--sonaleela-color-gray-transparent-100);
}
.gray-transparent-200 {
    background-color: var(--sonaleela-color-gray-transparent-200);
}

.brand-400 {
    background-color: var(--sonaleela-color-brand-400);
}
.brand-500 {
    background-color: var(--sonaleela-color-brand-500);
}
.brand-600 {
    background-color: var(--sonaleela-color-brand-600);
}

.typography-list {
    display: flex;
    flex-flow: column nowrap;
    color: var(--sonaleela-line-height-900);
}

.level-regular-50 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-50);
    line-height: var(--sonaleela-line-height-50);
    font-weight: var(--sonaleela-font-weight-regular);
    font-style: var(--sonaleela-font-style-regular);
}
.level-regular-75 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-75);
    line-height: var(--sonaleela-line-height-75);
    font-weight: var(--sonaleela-font-weight-regular);
    font-style: var(--sonaleela-font-style-regular);
}
.level-regular-100 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-100);
    line-height: var(--sonaleela-line-height-100);
    font-weight: var(--sonaleela-font-weight-regular);
    font-style: var(--sonaleela-font-style-regular);
}
.level-regular-200 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-200);
    line-height: var(--sonaleela-line-height-200);
    font-weight: var(--sonaleela-font-weight-regular);
    font-style: var(--sonaleela-font-style-regular);
}
.level-regular-300 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-300);
    line-height: var(--sonaleela-line-height-300);
    font-weight: var(--sonaleela-font-weight-regular);
    font-style: var(--sonaleela-font-style-regular);
}
.level-regular-400 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-400);
    line-height: var(--sonaleela-line-height-400);
    font-weight: var(--sonaleela-font-weight-regular);
    font-style: var(--sonaleela-font-style-regular);
}
.level-regular-500 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-500);
    line-height: var(--sonaleela-line-height-500);
    font-weight: var(--sonaleela-font-weight-regular);
    font-style: var(--sonaleela-font-style-regular);
}
.level-bold-50 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-50);
    line-height: var(--sonaleela-line-height-50);
    font-weight: var(--sonaleela-font-weight-bold);
    font-style: var(--sonaleela-font-style-regular);
}
.level-bold-75 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-75);
    line-height: var(--sonaleela-line-height-75);
    font-weight: var(--sonaleela-font-weight-bold);
    font-style: var(--sonaleela-font-style-regular);
}
.level-bold-100 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-100);
    line-height: var(--sonaleela-line-height-100);
    font-weight: var(--sonaleela-font-weight-bold);
    font-style: var(--sonaleela-font-style-regular);
}
.level-bold-200 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-200);
    line-height: var(--sonaleela-line-height-200);
    font-weight: var(--sonaleela-font-weight-bold);
    font-style: var(--sonaleela-font-style-regular);
}
.level-bold-300 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-300);
    line-height: var(--sonaleela-line-height-300);
    font-weight: var(--sonaleela-font-weight-bold);
    font-style: var(--sonaleela-font-style-regular);
}
.level-bold-400 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-400);
    line-height: var(--sonaleela-line-height-400);
    font-weight: var(--sonaleela-font-weight-bold);
    font-style: var(--sonaleela-font-style-regular);
}
.level-bold-500 {
    font-family: var(--sonaleela-font-family-primary);
    font-size: var(--sonaleela-font-size-500);
    line-height: var(--sonaleela-line-height-500);
    font-weight: var(--sonaleela-font-weight-bold);
    font-style: var(--sonaleela-font-style-regular);
}

.elevation-1 {
    box-shadow: var(--sonaleela-shadow-level-1);
}
.elevation-2 {
    box-shadow: var(--sonaleela-shadow-level-2);
}
.elevation-3 {
    box-shadow: var(--sonaleela-shadow-level-3);
}
.elevation-4 {
    box-shadow: var(--sonaleela-shadow-level-4);
}
.elevation-5 {
    box-shadow: var(--sonaleela-shadow-level-5);
}
.elevation-6 {
    box-shadow: var(--sonaleela-shadow-level-6);
}

.elevation-list {
    display: flex;
    flex-flow: row nowrap;

    & .elevation-item {
        height: 56px;
        width: 160px;
        margin-right: 24px;
        background-color: var(--sonaleela-color-gray-50);
    }
}

// ---------------- action button -----------------------
.action-button {
    border: unset;
    background-color: unset;
    outline: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-out;

    // brand theme
    &--brand {
        background-color: var(--sonaleela-color-brand-400);
    }
    &--brand &__icon,
    &--brand &__label {
        color: var(--sonaleela-color-gray-75);
    }
    &--brand:hover {
        background-color: var(--sonaleela-color-brand-500);
    }
    &--brand:hover &__icon,
    &--brand:hover &__label {
        color: var(--sonaleela-color-gray-50);
    }
    // silent
    &--silent {
        background-color: var(--sonaleela-color-gray-transparent-75);
    }
    &--silent &__icon,
    &--silent &__label {
        color: var(--sonaleela-color-gray-800);
    }
    &--silent:hover {
        background-color: var(--sonaleela-color-gray-transparent-100);
    }
    &--silent:hover &__icon,
    &--silent:hover &__label {
        color: var(--sonaleela-color-gray-900);
    }
    // regular
    &--regular {
        background-color: transparent;
        border: 1px solid var(--sonaleela-color-gray-300);
    }
    &--regular &__icon,
    &--regular &__label {
        color: var(--sonaleela-color-gray-800);
    }
    &--regular:hover {
        border: 1px solid var(--sonaleela-color-gray-500);
    }
    &--regular:hover &__icon,
    &--regular:hover &__label {
        color: var(--sonaleela-color-gray-900);
    }
    // primary theme
    &--primary {
        background-color: var(--sonaleela-color-blue-400);
    }
    &--primary &__icon,
    &--primary &__label {
        color: var(--sonaleela-color-gray-75);
    }
    &--primary:hover {
        background-color: var(--sonaleela-color-blue-500);
    }
    &--primary:hover &__icon,
    &--primary:hover &__label {
        color: var(--sonaleela-color-gray-50);
    }
    // ------
    &--size-m {
        height: var(--sonaleela-space-200);
        padding: 0 var(--sonaleela-space-50);
        border-radius: var(--sonaleela-space-25);
    }
    &--size-m &__icon + &__label {
        margin-left: var(--sonaleela-space-50);
    }

    &__icon {
        display: flex;
        font-family: var(--sonaleela-font-family-primary);
        font-size: var(--sonaleela-font-size-75);
        line-height: var(--sonaleela-line-height-75);
        font-weight: var(--sonaleela-font-weight-regular);
        font-style: var(--sonaleela-font-style-regular);
    }

    &__label {
        font-family: var(--sonaleela-font-family-primary);
        font-size: var(--sonaleela-font-size-75);
        line-height: var(--sonaleela-line-height-75);
        font-weight: var(--sonaleela-font-weight-regular);
        font-style: var(--sonaleela-font-style-regular);
    }
}
// ---------------- action button -----------------------

// ---------------- form group --------------------------
.form-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding-bottom: 18px;

    & &__label {
        display: flex;
        margin-bottom: var(--sonaleela-space-25);
    }
    & &__label > label {
        font-family: var(--sonaleela-font-family-primary);
        font-size: var(--sonaleela-font-size-50);
        line-height: var(--sonaleela-line-height-50);
        font-weight: var(--sonaleela-font-weight-bold);
        font-style: var(--sonaleela-font-style-regular);
        color: var(--sonaleela-color-gray-800);
    }

    &:focus-within > &__label > label {
        color: var(--sonaleela-color-blue-400);
    }

    & &__controls {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        color: var(--sonaleela-color-gray-800);
        margin-bottom: var(--sonaleela-space-12);
    }

    & &__error {
        position: absolute;
        bottom: 0;
        font-family: var(--sonaleela-font-family-primary);
        font-size: var(--sonaleela-font-size-50);
        line-height: var(--sonaleela-line-height-50);
        font-weight: var(--sonaleela-font-weight-regular);
        font-style: var(--sonaleela-font-style-regular);
        color: var(--sonaleela-color-gray-700);
    }
    & &__hint {
        position: absolute;
        bottom: 0;
        font-family: var(--sonaleela-font-family-primary);
        font-size: var(--sonaleela-font-size-50);
        line-height: var(--sonaleela-line-height-50);
        font-weight: var(--sonaleela-font-weight-regular);
        font-style: var(--sonaleela-font-style-regular);
        color: var(--sonaleela-color-red-400);
    }
}

.form-group__controls > .form-control:first-child:not(:only-child) {
    border-top-right-radius: 0;
}
.form-group__controls > .form-control:last-child:not(:only-child) {
    border-top-left-radius: 0;
}

.form-control {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--sonaleela-space-25) var(--sonaleela-space-25) 0 0;
    background-color: var(--sonaleela-color-gray-transparent-100);

    & > * {
        transition: all 0.1s ease-out;
    }

    & &__prefix {
        display: flex;
        align-items: center;
        height: var(--sonaleela-space-200);
        font-weight: var(--sonaleela-font-weight-bold);
        color: var(--sonaleela-color-gray-700);
        background-color: transparent;
        border-bottom: 2px solid var(--sonaleela-color-gray-500);
        // border-top-left-radius: 4px;
        padding: 4px 8px 2px 8px;
    }
    & &__suffix {
        display: flex;
        align-items: center;
        height: var(--sonaleela-space-200);
        font-weight: var(--sonaleela-font-weight-bold);
        color: var(--sonaleela-color-gray-700);
        background-color: transparent;
        border-bottom: 2px solid var(--sonaleela-color-gray-500);
        // border-top-right-radius: 4px;
        padding: 4px 8px 2px 8px;
    }

    & &__text-field {
        display: flex;
        height: var(--sonaleela-space-200);
        border: unset;
        background-color: transparent;
        border-bottom: 2px solid var(--sonaleela-color-gray-500);
        padding: 6px 8px 4px 8px;

        font-family: var(--sonaleela-font-family-primary);
        font-size: var(--sonaleela-font-size-75);
        line-height: var(--sonaleela-line-height-75);
        font-weight: var(--sonaleela-font-weight-regular);
        font-style: var(--sonaleela-font-style-regular);
        color: var(--sonaleela-color-gray-800);
    }

    & &__text-field::placeholder {
        font-family: var(--sonaleela-font-family-primary);
        font-size: var(--sonaleela-font-size-75);
        line-height: var(--sonaleela-line-height-75);
        font-weight: var(--sonaleela-font-weight-regular);
        font-style: var(--sonaleela-font-style-italic);
        padding: 6px 8px 4px 8px;
    }

    & > &__text-field:not(:first-child) {
        padding-left: 0;
    }
    & > &__text-field:not(:last-child) {
        padding-right: 0;
    }

    & &__textarea {
        display: flex;
        height: var(--sonaleela-space-400);
        border: unset;
        background-color: transparent;
        border-bottom: 2px solid var(--sonaleela-color-gray-500);
        padding: 6px 8px 4px 8px;

        font-family: var(--sonaleela-font-family-primary);
        font-size: var(--sonaleela-font-size-75);
        line-height: var(--sonaleela-line-height-75);
        font-weight: var(--sonaleela-font-weight-regular);
        font-style: var(--sonaleela-font-style-regular);
        color: var(--sonaleela-color-gray-800);
    }

    & &__textarea::placeholder {
        font-family: var(--sonaleela-font-family-primary);
        font-size: var(--sonaleela-font-size-75);
        line-height: var(--sonaleela-line-height-75);
        font-weight: var(--sonaleela-font-weight-regular);
        font-style: var(--sonaleela-font-style-italic);
        padding: 6px 8px 4px 8px;
    }

    &:focus-within &__text-field,
    &:focus-within &__textarea,
    &:focus-within &__suffix,
    &:focus-within &__prefix {
        border-bottom-color: var(--sonaleela-color-blue-400);
    }
}

.form-control__suffix > .action-button--size-m {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
input[type='text']:focus,
textarea:focus {
    outline: none;
    // box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

// card
.card {
    background-color: var(--sonaleela-color-gray-50);
    box-shadow: var(--sonaleela-shadow-level-1);
    border: 1px solid var(--sonaleela-color-gray-200);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.1s ease-out;
    padding: 12px 16px;

    &:hover {
        box-shadow: var(--sonaleela-shadow-level-3);
    }

    & &__header {
    }
    & &__body {
    }
    & &__footer {
    }
}

.card-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;

    & &__avatar {
        margin-right: 16px;
        img {
            height: 48px;
            width: 48px;
            border-radius: 16px;
        }
    }
    & &__title-group {
        flex: 1;
        h2 {
            font-family: var(--sonaleela-font-family-primary);
            font-size: var(--sonaleela-font-size-100);
            line-height: var(--sonaleela-line-height-100);
            font-weight: var(--sonaleela-font-weight-bold);
            font-style: var(--sonaleela-font-style-regular);
            color: var(--sonaleela-color-gray-800);
            margin-bottom: 2px;
        }
        h3 {
            font-family: var(--sonaleela-font-family-primary);
            font-size: var(--sonaleela-font-size-50);
            line-height: var(--sonaleela-line-height-50);
            font-weight: var(--sonaleela-font-weight-regular);
            font-style: var(--sonaleela-font-style-regular);
            color: var(--sonaleela-color-gray-700);
        }
    }
    & &__metadata {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;

        font-family: var(--sonaleela-font-family-primary);
        font-size: var(--sonaleela-font-size-50);
        line-height: var(--sonaleela-line-height-50);
        font-weight: var(--sonaleela-font-weight-regular);
        font-style: var(--sonaleela-font-style-regular);
        color: var(--sonaleela-color-gray-700);
    }
}

.card-footer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    & &__start {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
    }
    & &__start {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
    }
}
