<div class="flex gap-5 p-3 items-center hover:bg-gray-100 rounded-lg">
    <slui-icon class="h-5 w-5 text-gray-900"
               [iconName]="iconName"></slui-icon>
    <p class="flex-1 font-body text-100 text-gray-900">{{control?.label}}</p>

    <button type="button"
            slui-action-button
            silent
            (click)="edit.emit(true)">
        <slui-icon [iconName]="'tabler-icon-edit'"></slui-icon>
    </button>
    <button type="button"
            slui-action-button
            silent
            (click)="copy.emit(true)">
        <slui-icon [iconName]="'copy'"></slui-icon>
    </button>
    <button type="button"
            slui-action-button
            silent
            (click)="delete.emit(true)">
        <slui-icon [iconName]="'tabler-icon-trash'"></slui-icon>
    </button>
</div>