<form (ngSubmit)="submit()"
      [formGroup]="form"
      novalidate>

       <div class="flex flex-col mb-8">
              <label class="font-body text-75 text-gray-900 mb-1"
                     for="name">Site name</label>
              <input class="h-9 font-body text-100 text-gray-900 bg-transparent border border-gray-500 rounded px-3"
                     id="name"
                     type="text"
                     placeholder="eg. Head office"
                     formControlName="name"
                     required />
              <p class="font-body text-75 text-red-400"
                 *ngIf="form.controls.name.hasError('required') && form.controls.name.touched">Name is required</p>
       </div>

       <h2 class="font-body font-bold text-100 text-gray-900 mb-3">Address</h2>
       <ng-container formGroupName="address">
              <div class="flex flex-row gap-4">
                     <div class="flex-1 mb-3">
                            <label for="postalCode"
                                   class="block font-body text-75 text-gray-800 mb-1">Postal code</label>
                            <input id="postalCode"
                                   type="number"
                                   class="w-full bg-transparent border border-gray-500 rounded font-body text-100 text-gray-800 px-3 h-8"
                                   placeholder="eg. 334001"
                                   formControlName="postalCode">
                            <p class="font-body text-75 text-red-400"
                               *ngIf="form.controls.address.controls.postalCode.hasError('required') && form.controls.address.controls.postalCode.touched">
                                   Postal code is required</p>
                     </div>
                     <div class="flex-1"></div>
              </div>
              <div class="mb-3">
                     <label for="line1"
                            class="block font-body text-75 text-gray-800 mb-1">Address line 1</label>
                     <input id="line1"
                            type="text"
                            class="w-full bg-transparent border border-gray-500 rounded font-body text-100 text-gray-800 px-3 h-8"
                            placeholder="eg. E-25, Rajnagar"
                            formControlName="line1">
                     <p class="font-body text-75 text-red-400"
                        *ngIf="form.controls.address.controls.line1.hasError('required') && form.controls.address.controls.line1.touched">
                            Address is required</p>
              </div>
              <div class="mb-3">
                     <label for="line2"
                            class="block font-body text-75 text-gray-800 mb-1">Address line 2
                            <em>(optional)</em></label>
                     <input id="line2"
                            type="text"
                            class="w-full bg-transparent border border-gray-500 rounded font-body text-100 text-gray-800 px-3 h-8"
                            placeholder="eg. Jaipur road"
                            formControlName="line2">
              </div>
              <div class="flex flex-row gap-4">
                     <div class="mb-3 flex-1">
                            <label for="city"
                                   class="block font-body text-75 text-gray-800 mb-1">City</label>
                            <select *ngIf="cityList?.length"
                                    formControlName="city"
                                    class="w-full bg-transparent border border-gray-500 rounded font-body text-100 text-gray-800 px-3 h-8">
                                   <option *ngFor="let city of cityList"
                                           [value]="city">{{city}}</option>
                            </select>
                            <input *ngIf="!cityList?.length"
                                   id="city"
                                   type="text"
                                   class="w-full bg-transparent border border-gray-500 rounded font-body text-100 text-gray-800 px-3 h-8"
                                   placeholder="eg. Bikaner"
                                   formControlName="city">
                            <p class="font-body text-75 text-red-400"
                               *ngIf="form.controls.address.controls.city.hasError('required') && form.controls.address.controls.city.touched">
                                   City is required</p>
                     </div>
                     <div class="flex-1"></div>
              </div>
              <div class="flex flex-row gap-4">
                     <div class="flex-1 mb-3">
                            <label for="state"
                                   class="block font-body text-75 text-gray-800 mb-1">State</label>
                            <input id="state"
                                   type="text"
                                   class="w-full bg-transparent border border-gray-500 rounded font-body text-100 text-gray-800 px-3 h-8"
                                   placeholder="eg. Rajasthan"
                                   formControlName="state">
                            <p class="font-body text-75 text-red-400"
                               *ngIf="form.controls.address.controls.state.hasError('required') && form.controls.address.controls.state.touched">
                                   State is required</p>
                     </div>
                     <div class="flex-1 mb-3">
                            <label for="country"
                                   class="block font-body text-75 text-gray-800 mb-1">Country</label>
                            <input id="country"
                                   type="text"
                                   class="w-full bg-transparent border border-gray-500 rounded font-body text-100 text-gray-800 px-3 h-8"
                                   placeholder="eg. India"
                                   formControlName="country">
                            <p class="font-body text-75 text-red-400"
                               *ngIf="form.controls.address.controls.country.hasError('required') && form.controls.address.controls.country.touched">
                                   Country is required</p>
                     </div>
              </div>
       </ng-container>
</form>