<header class="flex items-center h-16 border-b border-gray-300 gap-3 px-4">
    <a type="button"
       slui-action-button
       silent
       routerLink="/site">
        <slui-icon [iconName]="'tabler-icon-chevron-left'"></slui-icon>
    </a>
    <h1 class="flex font-display font-bold text-200 text-gray-900">Add site</h1>
</header>
<main class="flex-1 overflow-x-auto flex flex-row items-start gap-5 p-4">
    <sonaleela-add-site-form class="flex-1"
                             #form
                             [state]="state$ | async"
                             [country]="country$ | async"
                             [cityList]="cityList$ | async"
                             (addresssChange)="addresssChange($event)"
                             (pinChange)="pinChange($event)"
                             (submitForm)="submitForm($event)"></sonaleela-add-site-form>
    <sonaleela-geo-fence class="flex-1 pb-4"
                         [geolocation]="geolocation$ | async"
                         [zoomLevel]="zoomLevel"
                         (drawing)="drawing($event)"></sonaleela-geo-fence>
</main>
<footer class="flex items-center justify-end h-14 border-t border-gray-300 px-8 broder">
    <button type="button"
            *isLoading="isAddSitePending$ | async"
            slui-button
            appearance="cta"
            (click)="form.submit()">Save address</button>
</footer>