<main class="grid grid-cols-[repeat(12,_1fr)]">
    <section class="border border-gray-300">1</section>
    <section class="border border-gray-300">2</section>
    <section class="border border-gray-300">3</section>
    <section class="border border-gray-300">4</section>
    <section class="border border-gray-300">5</section>
    <section class="border border-gray-300">6</section>
    <section class="border border-gray-300">7</section>
    <section class="border border-gray-300">8</section>
    <section class="border border-gray-300">9</section>
    <section class="border border-gray-300">10</section>
    <section class="border border-gray-300">11</section>
    <section class="border border-gray-300">12</section>
</main>