<form [formGroup]="form">
    <h2 class="font-display font-bold text-100 text-gray-900 mb-4">Phone field</h2>
    <div class="mb-3">
        <label for="label"
               class="block font-body text-75 text-gray-800 mb-1">Field name</label>
        <input id="label"
               type="text"
               class="w-full border border-gray-500 rounded font-body text-100 text-gray-800 px-3 h-8"
               placeholder="Enter field name"
               formControlName="label">
    </div>
    <div class="mb-3">
        <label for="caption"
               class="block font-body text-75 text-gray-800 mb-1">Field caption</label>
        <input id="caption"
               type="text"
               class="w-full border border-gray-500 rounded font-body text-100 text-gray-800 px-3 h-8"
               placeholder="Enter field name"
               formControlName="caption">
    </div>
    <div class="mb-4">
        <label for="value"
               class="block font-body text-75 text-gray-800 mb-1">Value</label>
        <input id="value"
               type="text"
               class="w-full border border-gray-500 rounded font-body text-100 text-gray-800 px-3 h-8"
               placeholder="Enter field name"
               formControlName="value">
    </div>
    <div class="flex items-center gap-3">
        <button type="button"
                slui-button
                (click)="saveField()">Save</button>
        <button type="button"
                slui-button
                appearance="negative"
                silent
                (click)="remove.emit(true)">Remove</button>
    </div>
</form>