<div class="flex flex-col gap-5 bg-gray-50 max-w-[720px] mx-auto p-8 rounded-3xl">
    <div class="flex items-center justify-between">
        <h2 class="font-body font-bold text-200 text-gray-800">General Information</h2>
    </div>
    <div class="flex flex-col gap-5">
        <div class="flex justify-between">
            <div class="flex flex-col">
                <p class="font-body text-75 text-gray-700">Full name</p>
                <h3 class="font-body text-100 text-gray-800">Rajesh Kumar</h3>
            </div>
            <button type="button"
                    slui-action-button
                    silent>
                <slui-icon class="h-6 w-6 text-gray-800 stroke-1"
                           iconName="tabler-icon-edit"></slui-icon>
            </button>
        </div>
        <div class="flex justify-between">
            <div class="flex flex-col">
                <p class="font-body text-75 text-gray-700">Email</p>
                <h3 class="font-body text-100 text-gray-800">rajesh.goblet&#64;gmail.com</h3>
            </div>
            <button type="button"
                    slui-action-button
                    silent>
                <slui-icon class="h-6 w-6 text-gray-800 stroke-1"
                           iconName="tabler-icon-edit"></slui-icon>
            </button>
        </div>

        <div class="flex justify-between">
            <div class="flex flex-col">
                <p class="font-body text-75 text-gray-700">Phone number</p>
                <h3 class="font-body text-100 text-gray-800">-</h3>
            </div>
            <button type="button"
                    slui-action-button
                    silent>
                <slui-icon class="h-6 w-6 text-gray-800 stroke-1"
                           iconName="tabler-icon-edit"></slui-icon>
            </button>
        </div>

        <div class="flex justify-between">
            <div class="flex flex-col">
                <p class="font-body text-75 text-gray-700">Address</p>
                <h3 class="font-body text-100 text-gray-800">E-25 Rajnagar, Jaipur Road</h3>
                <h3 class="font-body text-100 text-gray-800">Bikaner, Rajasthan</h3>
                <h3 class="font-body text-100 text-gray-800">India</h3>
            </div>
            <button type="button"
                    slui-action-button
                    silent>
                <slui-icon class="h-6 w-6 text-gray-800 stroke-1"
                           iconName="tabler-icon-edit"></slui-icon>
            </button>
        </div>

    </div>
</div>