<section class="flex flex-col gap-4 px-6">
    <a *ngFor="let item of list"
       class="flex gap-4 px-6 py-5 bg-gray-50 rounded-2xl">
        <div class="flex-none self-center">
            <slui-icon class="h-6 w-6 text-gray-700"
                       [iconName]="'forms'"></slui-icon>
        </div>
        <div class="flex-1 flex flex-col">
            <h2 class="font-body font-bold text-100 text-gray-800">{{item?.workItem?.name}}</h2>
            <div class="flex items-center gap-3">
                <p class="font-body text-75 text-gray-700">
                    {{item?.createdAt | date:'shortTime'}} {{item?.createdAt | date:'shortDate'}}
                </p>
                <!-- <p class="font-body text-100 text-gray-700">•</p> -->
            </div>
        </div>
        <div class="flex-none self-center">
            <p class="font-body font-bold text-100 text-gray-900">{{item?.quantity}}</p>
        </div>
    </a>
</section>