<section class="w-full">
    <img class="h-8 w-auto mb-6"
         alt="sonaleela logo"
         src="assets/img/logo_name.svg" />
    <h1 class="font-display font-bold text-200 text-gray-900 mb-2">OTP Verification</h1>
    <p class="font-body text-100 text-gray-900 mb-3 flex gap-2">
        <span>Enter the OTP sent to - </span>
        <b>{{phoneNumber}}</b>
        <span class="font-bold text-blue-500 cursor-pointer"
              (click)="editPhoneNumber.emit(true)">Edit</span>
    </p>
    <p class="font-body text-100 text-gray-900 mb-8">OTP is valid for <b>{{timer}}</b> seconds</p>
    <form [formGroup]="form"
          (ngSubmit)="submit()"
          novalidate
          class="mb-12">
        <div class="mb-4">
            <label class="font-body text-75 text-gray-800 mb-1"
                   for="otp">4 digit OTP</label>
            <input id="otp"
                   type="number"
                   placeholder="xxxx"
                   formControlName="otp"
                   required
                   autofocus
                   class="block font-body text-100 bg-gray-50 border border-solid border-gray-400 rounded h-9 px-3 mb-1 hover:border-gray-600" />
            <p *ngIf="form.get('otp')?.hasError('required') && form.get('otp')?.touched"
               class="font-body text-75 text-red-400">OTP is required</p>
        </div>
        <p *ngIf="error"
           class="font-body text-75 text-red-400 mb-4">{{error}}</p>
        <div class="flex justify-between">
            <button type="submit"
                    *isLoading="isPending"
                    slui-button
                    [appearance]="'cta'">
                Verify phone number
            </button>
        </div>
    </form>
</section>