<header class="pt-8 pb-6 rounded-b-2xl bg-gray-50">
    <div class="flex justify-center items-center px-4 mb-6">
        <div class="flex-1 flex items-center justify-start">
            <p class="font-body text-gray-700 text-75">Feburary</p>
        </div>
        <div class="flex-auto flex items-center justify-center">
            <p class="font-body font-bold text-gray-900 text-200">March</p>
        </div>
        <div class="flex-1 flex items-center justify-end">
            <p class="font-body text-gray-700 text-75">April</p>
        </div>
    </div>
    <div class="flex justify-between px-4">
        <div class="flex-1 flex flex-col items-center justify-center">
            <p class="font-body font-bold text-100 text-gray-800">2/2</p>
            <p class="font-body text-75 text-gray-800">Days worked</p>
        </div>
        <div class="flex-1 flex flex-col items-center justify-center">
            <p class="font-body font-bold text-100 text-gray-800">6.5Hr</p>
            <p class="font-body text-75 text-gray-800">Avertage time</p>
        </div>
        <div class="flex-1 flex flex-col items-center justify-center">
            <p class="font-body font-bold text-100 text-gray-800">13Hr</p>
            <p class="font-body text-75 text-gray-800">Total time</p>
        </div>
    </div>
</header>
