<header class="flex items-center h-16 border-b border-gray-300 gap-3 px-4">
    <a type="button"
       slui-action-button
       silent
       routerLink="/form">
        <slui-icon [iconName]="'tabler-icon-chevron-left'"></slui-icon>
    </a>
    <h1 class="flex font-display font-bold text-200 text-gray-900">Add form</h1>
</header>
<main class="flex-1 overflow-x-auto flex flex-row items-start gap-5 p-4">
    <sonaleela-add-form class="flex-1"
                        #formBuilder
                        [fields]="fields$ | async"
                        (edit)="editField($event)"
                        (copy)="copyField($event)"
                        (delete)="deleteField($event)"
                        (saveForm)="saveForm($event)"></sonaleela-add-form>
    <sonaleela-form-field-builder-controller class="flex-1"></sonaleela-form-field-builder-controller>
</main>
<footer class="flex items-center justify-end h-14 border-t border-gray-300 px-8 broder">
    <button type="submit"
            *isLoading="isPending$ | async"
            (click)="formBuilder.submit()"
            slui-button
            appearance="cta">Add form</button>
</footer>