<header class="flex-none flex items-center bg-gray-50 h-14 px-5">
     <button class="flex-none"
             slui-action-button
             silent
             (click)="back()">
          <slui-icon [iconName]="'arrow-left'"></slui-icon>
     </button>
     <h1
         class="flex-auto whitespace-nowrap text-ellipsis overflow-hidden font-body font-bold text-100 text-gray-900 text-center pr-9">
          Submitted work items list
     </h1>
</header>
<header class="flex-none flex flex-col gap-3 px-6 pt-4 pb-4 bg-gray-50 rounded-b-3xl">
     <!-- relative after:content-[''] after:block after:absolute after:bottom-[-16px] after:left-0 after:right-0 after:h-8 after:bg-gray-100 after:rounded-full -->
     <tiwoin-date-filter-bar [date]="(filterObject$ | async)!.date"
                             (dateSelect)="dateSelect($event)"></tiwoin-date-filter-bar>
</header>

<main class="flex-1">
     <!-- loading -->
     <div class="flex-1"
          *isSpinner="(isPending$ | async)"></div>

     <!-- list -->
     <tiwoin-work-item-submission-list *ngIf="(list$ | async)?.length && !(isPending$ | async)"
                                       [list]="list$ | async"
                                       [error]="error$ | async"
                                       [isPending]="isPending$ | async"></tiwoin-work-item-submission-list>

     <!-- empty state -->
     <div *ngIf="!(list$ | async)?.length && !(isPending$ | async)"
          class="mx-auto flex flex-col items-center justify-center p-10">
          <img class="max-w-[200px] mb-12"
               src="/assets/icons/illustrations/empty.svg">
          <p class="font-body text-100 text-gray-800 mb-2">
               No work items found. Ask your manager to add new ones from the admin dashboard in Tiwoin app.</p>
     </div>
</main>