<div class="flex-1"
     *isSpinner="(isDocumentListPending$ | async)"></div>
<sonaleela-document-section *ngIf="!(isAddForm$ | async) && !(isRequestForm$ | async) && !(isDocumentListPending$ | async)"
                            class="flex-1"
                            [list]="documentList$ | async"
                            [isPending]="isDocumentListPending$ | async"
                            [error]="documentError$ | async"
                            (add)="add($event)"
                            (request)="request($event)"></sonaleela-document-section>
<sonaleela-document-form *ngIf="(isAddForm$ | async) && !(isDocumentListPending$ | async)"
                         class="flex-1"
                         (cancel)="cancelAddForm()"></sonaleela-document-form>
<sonaleela-document-request-form *ngIf="(isRequestForm$ | async) && !(isDocumentListPending$ | async)"
                                 class="flex-1"
                                 [isPending]="isRequestDocumentPending$ | async"
                                 [error]="requestDocumentError$ | async"
                                 (submitForm)="submitRequestForm($event)"
                                 (cancel)="cancelRequestForm()"></sonaleela-document-request-form>