@switch (true) {
@case (layout === layoutTypes.BOTTOMNAV) {
<tiwoin-layout-bottom-nav><ng-container *ngTemplateOutlet="template"></ng-container></tiwoin-layout-bottom-nav>
}
@case (layout === layoutTypes.SIDENAV) {
<tiwoin-layout-sidenav><ng-container *ngTemplateOutlet="template"></ng-container></tiwoin-layout-sidenav>
}
@case (layout === layoutTypes.EMPTY) {
<tiwoin-layout-empty><ng-container *ngTemplateOutlet="template"></ng-container></tiwoin-layout-empty>
}
}

<ng-template #template>
    <router-outlet></router-outlet>
</ng-template>