<tiwoin-layout-bottom-nav *ngIf="layout === layoutTypes.BOTTOMNAV">
    <ng-container *ngTemplateOutlet="template"></ng-container>
</tiwoin-layout-bottom-nav>
<tiwoin-layout-sidenav *ngIf="layout === layoutTypes.SIDENAV">
    <ng-container *ngTemplateOutlet="template"></ng-container>
</tiwoin-layout-sidenav>
<tiwoin-layout-empty *ngIf="layout === layoutTypes.EMPTY">
    <ng-container *ngTemplateOutlet="template"></ng-container>
</tiwoin-layout-empty>

<ng-template #template>
    <router-outlet></router-outlet>
</ng-template>