<sonaleela-payroll-data-header class="col-span-2 px-4 border-b border-gray-300"></sonaleela-payroll-data-header>

<main class="overflow-auto">
     <!-- list -->
     <div class="flex flex-col gap-5 h-max m-4 p-8 bg-gray-50 rounded-3xl">
          <!-- filter -->
          <sonaleela-payroll-date-selector [date]="(filterObject$ | async)!.date"
                                           (dateSelect)="dateSelect($event)"></sonaleela-payroll-date-selector>

          <!-- table -->
          <sonaleela-payroll-data *ngIf="(list$ | async)?.length && !(isPending$ | async)"
                                  class="m-4 p-8 bg-gray-50 rounded-3xl overflow-hidden"
                                  [payrollList]="(list$ | async) || []"
                                  [isPending]="isPending$ | async"
                                  [error]="error$ | async"></sonaleela-payroll-data>
          <!-- empty state -->
          <section *ngIf="!(list$ | async)?.length && !(isPending$ | async)"
                   class="container mx-auto flex flex-col items-center justify-center p-10">
               <img class="max-w-[200px] mb-12"
                    src="/assets/icons/illustrations/empty.svg">
               <p class="font-body text-100 text-gray-800 mb-2">
                    Looks like there are no payroll data available to display at the moment</p>
          </section>

          <!-- loading -->
          <div class="flex-1"
               *isSpinner="(isPending$ | async)"></div>
     </div>
</main>
<!-- Side data panel -->
<section *ngIf="!payrollData"
         class="flex-none w-9 bg-gray-75 border-l border-gray-300">
</section>