<h1 class="font-body font-bold text-200 text-gray-900 mb-6">Edit profile</h1>
<form [formGroup]="form"
      (ngSubmit)="submit()"
      novalidate>
       <ng-container formGroupName="name">
              <div class="flex flex-col gap-1 mb-4">
                     <label for="fname"
                            class="font-body text-75 text-gray-900">First name</label>
                     <input id="fname"
                            class="h-9 px-3 font-body text-100 text-gray-900 border border-gray-500 rounded"
                            placeholder="first"
                            formControlName="first" />
              </div>
              <div class="flex flex-col gap-1 mb-4">
                     <label for="middle"
                            class="font-body text-75 text-gray-900">Middle name</label>
                     <input id="middle"
                            class="h-9 px-3 font-body text-100 text-gray-900 border border-gray-500 rounded"
                            placeholder="middle"
                            formControlName="middle" />
              </div>
              <div class="flex flex-col gap-1 mb-4">
                     <label for="last"
                            class="font-body text-75 text-gray-900">Last name</label>
                     <input id="last"
                            class="h-9 px-3 font-body text-100 text-gray-900 border border-gray-500 rounded"
                            placeholder="last"
                            formControlName="last" />
              </div>
       </ng-container>
       <div class="flex flex-col gap-1 mb-6">
              <label for="phoneNumber"
                     class="font-body text-75 text-gray-900">Phone number</label>
              <p class="font-body text-75 text-gray-700">This phone number will be used by the employee as a username to
                     access the mobile app.
              </p>
              <input type="text"
                     id="phoneNumber"
                     class="h-9 px-3 font-body text-100 text-gray-900 border border-gray-500 rounded"
                     formControlName="phoneNumber" />
       </div>
       <div class="flex items-center gap-2">
              <button type="submit"
                      slui-button
                      *isLoading="isPending"
                      [appearance]="'cta'">Submit</button>
              <button type="button"
                      slui-button
                      [appearance]="'primary'"
                      (click)="toggleForm.emit(false)">Cancel</button>
       </div>
</form>